    * {
        box-sizing: border-box;
    }
    
    .topnav {
        overflow: hidden;
    }
    
    .topnav a,
    h3 {
        float: right;
        color: #1b1829;
        text-align: center;
        padding: 14px 16px;
        margin-top: 20px;
        text-decoration: none;
        font-size: 20px;
        font-weight: bolder;
    }
    
    .topnav h3 {
        font-size: 45px;
    }
    
    .topnav a:hover {
        text-decoration: none;
        color: black;
    }
    
    .topnav a.active {
        background-color: #3DDFBE;
        color: white;
    }
    
    .topnav a.active:hover {
        background-color: #1b1829;
    }
    
    h1 {
        font-family: 'Dancing Script', cursive;
        font-size: 140px;
    }
    
    h3 {
        font-family: 'Dancing Script', cursive;
        font-size: 35px;
        font-weight: bold;
    }
    
    p,
    a {
        font-family: 'Overpass', sans-serif;
        /* font-size: 38px; */
    }
    /* Style the header */
    
    header {
        background-color: white;
        padding: 30px;
        height: 95;
        text-align: center;
        font-size: 35px;
        color: #1b1829;
    }
    
    .title {
        padding-top: 300px;
        padding-bottom: 100px;
    }
    
    article {
        padding-top: 0px;
        padding-bottom: 0px;
        text-align: center;
        width: 100%;
        background-color: none;
        color: white;
        /* only for demonstration, should be removed */
    }
    /* Clear floats after the columns */
    
    section {
        content: "";
        display: table;
        clear: both;
        background-color: #1b1829;
        background-size: cover;
        /* filter: blur(8px); */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        min-height: 500px;
        text-shadow: 1px 1px black;
    }
    /* Style the footer */
    
    footer {
        background-color: #3A3A3A;
        padding: 10px;
        text-align: center;
        font-size: 16px;
        color: white;
        height: 93px;
    }
    /* Create three equal columns that floats next to each other */
    
    .column {
        float: left;
        width: 33.33%;
        padding: 10px;
        height: 300px;
        color: white;
        /* Should be removed. Only for demonstration */
    }
    /* Clear floats after the columns */
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
    
    @media (max-width: 600px) {
        nav,
        article {
            width: 100%;
            height: auto;
        }
    }